
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.navbar {
  width: 100%;
  height: 70px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 1000;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar_logo {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.navbar_title {
  color: #e50914;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}


.navbar_links {
  display: flex;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.link {
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  color: #e50914;
}


@media (max-width: 900px) {
  .navbar {
    padding: 0 20px;
  }

  .links {
    gap: 15px;
  }

  .link {
    font-size: 13px;
  }
}
