
.paypal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
}


.paypal-button {
  width: 320px;
  max-width: 100%;
  padding: 15px;
  border-radius: 10px;
  background: #111;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
